
.main-background {
    background-color: #ac714a;
}

.fullscreen-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.blue-box {
  background-color: lightsalmon; /* Blue box background color */
  width: 280px; /* Adjust the width as needed */
  height: 360px; /* Adjust the height as needed */
  position: absolute; /* Position the box relative to the parent */
  top: 47%; /* Center the box vertically */
  left: 50%; /* Center the box horizontally */
  transform: translate(-50%, -50%); /* Center the box precisely */
  border: 2px solid white; /* Add a white border if desired */
  /* Add any other styles or content for the blue box */
}

.gtfHeader {
    margin-top: 10px;
    font-size: 36px;
}

p {
    font-size: 20px;
}
.btn-instructions {
    margin-left: 240px;
    justify-content: end;
    margin-top: 0px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}