@page "/"
@inject NavigationManager NavigationManager

    <body class="main-background">
    <img class="fullscreen-image" src="Images/Background.jpg" alt="Background Image" />
        <div class="blue-box text-center">
            <h4 class="gtfHeader text-white">Guess the flag</h4>
            <p class=" text-white">
                Discover the flags and <br>
                learn the world!
            </p>
        <button @onclick="NavigateToPlay" type="button" class="btn btn-light mt-2">
            Play
        </button>
            <br>
            <button @onclick="NavigateToLeaderboard" type="button" class="btn btn-light mt-2">
                Leaderboard
            </button>
            <br />
        <button @onclick="NavigateToInstructions" type="button" class="btn btn-light mt-2">
            Instructions
        </button>
        </div>
    </body>




<style>


    /* Add styles for your page content here */
</style>

@code {
    private void NavigateToLeaderboard()
    {
        NavigationManager.NavigateTo("/Leaderboard");
    }

    private void NavigateToPlay()
    {
        NavigationManager.NavigateTo("/nickname");
    }

    private void NavigateToInstructions()
    {
        NavigationManager.NavigateTo("/instructions");
    }
}
