@page "/"


<div class="main-background">
       <div class="blue-box container-fluid text-center">
            <h1 class="row display-5 text-white ">Guess the flag</h1>
            <p class=" text-white">Discover the flags and <br>
                learn the world!
            </p>
            <button type="button" class="btn btn-light ">
                Play
            </button>
            <br>
              <button type="button" class="btn btn-light mt-3">
                Leaderboard
            </button>
    </div>
</div>



<style>


    /* Add styles for your page content here */
</style>

@code {

}
