body {
    background-color: #0074BD;
}

.correctAnswer {
    
    margin-left: 10px;
    margin-right: 10px;
    pointer-events: none;
    cursor: not-allowed;
    color: limegreen;
}

.wrongAnswer {
    cursor: not-allowed;
    margin-left: 10px;
    margin-right: 10px;
    pointer-events: none;
    color: red;
}

.fullscreen-image {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.blue-box {
    background-color: floralwhite; /* Blue box background color */
    width: 250px; /* Adjust the width as needed */
    height: 350px; /* Adjust the height as needed */
    position: absolute; /* Position the box relative to the parent */
    top: 45%; /* Center the box vertically */
    left: 50%; /* Center the box horizontally */
    transform: translate(-50%, -50%); /* Center the box precisely */
    border: 2px solid white; /* Add a white border if desired */
    /* Add any other styles or content for the blue box */
}

.flag-image {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.score{
    display: flex;
    justify-content: space-between;
    margin-bottom : 10px;
    margin-left : 10px;
    /*color: white;*/
}
.questions-container {
    justify-content : flex-end;
    margin-right: 10px;
}

#nextBtn{
    margin-top: 10px;
}
.options-container {
}

.guess-container {
    
}
