@page "/leaderboard"
@inject NavigationManager NavigationManager
@inject IUserService userService


<div class="main-background">
    
    <img class="fullscreen-image" src="Images/Background.jpg" alt="Background Image" />

    <div class="blue-box text-center">
        <h1 class="gtfHeader text-white">Leaderboard</h1>
 

        @if (topScores != null && topScores.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userScore in topScores)
                    {
                        <tr>
                            <td>@userScore.Username</td>
                            <td>@userScore.Score</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
         else
        {
            <p>No top scores found.</p>
        } 

        <button @onclick="NavigateToMainPage" type="button" class="btn btn-light ">
            Play
        </button>
        
    </div>
</div>

@code {

    private List<UserModel> topScores;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            topScores = await userService.GetTopScoresAsync(5);
        }
        catch (Exception ex)
        {
            topScores = new List<UserModel>();
            Console.WriteLine($"Error fetching top scores: {ex.Message}");
        }

    }

    private void NavigateToMainPage()
    {
        NavigationManager.NavigateTo("/");
    }

}
