.mainbody {
}

.main-background {
    background-color: #ac714a;
}

.gtfHeader {
    margin-top: 10px;
    font-size: 36px;
}

.fullscreen-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

#nickname {
    width: 220px;
    margin-left: 30px;
}


.error-message{
    color:red;
    font-weight:bold;
    margin-top: 5px;
    padding: 2px;
    background-color:AppWorkspace;
}

.blue-box {
    background-color: lightsalmon; /* Blue box background color */
    width: 280px; /* Adjust the width as needed */
    height: 360px; /* Adjust the height as needed */
    position: absolute; /* Position the box relative to the parent */
    top: 47%; /* Center the box vertically */
    left: 50%; /* Center the box horizontally */
    transform: translate(-50%, -50%); /* Center the box precisely */
    border: 2px solid white; /* Add a white border if desired */
    /* Add any other styles or content for the blue box */
}

