@page "/nickname"
@inject NavigationManager NavigationManager
@inject UserModel UserModel 


<div class="main-background">

    <img class="fullscreen-image" src="Image/Background.jpg" alt="Background Image" />

    <div class="blue-box text-center">
        <h3 class="gtfHeader text-white">Choose your Nickname</h3>
        <input type="text" class="form-control" id="nickname" placeholder="Enter your nickname">
        <button @onclick="UserModel" type="button" class="btn btn-light ">
            Start
        </button>

    </div>
</div>


@code {
    private void NavigateToStart()
    {
        NavigationManager.NavigateTo("/");
    }
}





